.app-header {
  margin-top: 2rem;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
  gap: 1rem;
}

.counter button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.add-button {
  background-color: #4CAF50;
  color: white;
}

.minus-button {
  background-color: #f44336;
  color: white;
}

.minus-button:disabled {
  background-color: #ccc;
  color: white;
}